{% extends 'base.html.twig' %}

{% block title %}#{{ hashtag.texte }}{% endblock %}

{% block body %}

    <div class="container w-100 d-flex justify-content-center align-items-center flex-column gap-4">

    <div class="d-flex justify-content-between align-items-center gap-5">
        <h1>Posts pour #{{ hashtag.texte }}</h1>

        {% if abonne %}
            <a href="{{ path('app_hashtag_unsubscribe', {'id': hashtag.id}) }}" class="btn btn-sm btn-danger">Se désabonner</a>
        {% else %}
            <a href="{{ path('app_hashtag_subscribe', {'id': hashtag.id}) }}" class="btn btn-sm btn-primary">S'abonner</a>
        {% endif %}
    </div>

    {% if posts is empty %}
            <div class="alert alert-info" role="alert">
                Aucun post disponible. 
            </div>
        {% else %}
            {% for post in posts %}
                <div class="card" style="width: 35rem;">
                    <div class="card-header d-flex justify-content-between">
                        <a href="{{ path('app_compte_show', {'id': post.compte.id}) }}" class="text-decoration-none text-dark">
                            <div class="d-flex gap-2 align-items-center">
                                {% if post.compte.photoId %}
                                    {% for profil in allPhotoProfils %}
                                        {% if profil.photoProfil and profil.id == post.compte.id %}
                                            <img src="data:image/{{ profil.formatPhotoProfil }};base64,{{ profil.photoProfil }}" alt="Photo de profil" width="30" height="30" class="rounded-circle border border-dark">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="rounded-circle bg-secondary" style="width: 30px; height: 30px;"></div>
                                {% endif %}
                                <h6 class="font-weight-light d-flex align-items-center">@{{ post.compte.username }}</h6>
                            </div>
                        </a>
                        
                        <div class="dropdown">
                            {{ post.post.datePublication|date('Y-m-d H:i:s') }}
                            <a class="btn btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-v"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href=""><i class="fa-solid fa-flag"></i> Signaler</a></li>
                                {% if app.user.id == post.compte.id %}
                                <li><a class="dropdown-item" href="{{ path('app_post_edit', {'id' : post.post.id }) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier</a></li>
                                <li>
                                    <form method="post" action="{{ path('app_post_delete', {'id': post.post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.post.id) }}">
                                        <button class="dropdown-item"><i class="fa-solid fa-trash"></i> Supprimer</button>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    {% if post.photos is not empty %}
                        <div class="card-body">
                            {% for photo in post.photos %}
                                <img src="data:image/{{ photo.format }};base64,{{ photo.donneesPhoto }}" alt="Photo de profil" width="200" height="200" class="ratio ratio-1x1 object-fit-contain">
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ post.post.titre }}</h5>
                        <p class="card-text">{{ post.post.description }}</p>
                        <p>{{ (post.post.tempsRetard // 60) ~ 'h' }}{{ post.post.tempsRetard % 60 ~ 'min' }} de retard</p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <button class="btn like-button" data-id="{{ post.post.id }}" data-action-url="{{ path('app_post_like', {'id': post.post.id}) }}"><i class="fa-regular fa-heart"></i></button>
                                    <button class="btn unlike-button" data-id="{{ post.post.id }}" data-action-url="{{ path('app_post_unlike', {'id': post.post.id}) }}" style="display: none"><i class="fa-solid fa-heart"></i></button>
                                    <span class="like-count">{{ post.nb_likes }}</span>
                                </div>
                                <button class="btn btn-danger golden-like-button" data-id="{{ post.post.id }}" data-action-url="{{ path('app_post_golden_like', {'id': post.post.id}) }}"><i class="fa-regular fa-heart"></i></button>
                            </div>

                            <div class="d-flex justify-content-center align-items-center">
                                <span class="btn open-commentaire" data-id="{{ post.post.id }}"><i class="fa-regular fa-comment"></i></span>
                            </div>
                        </div>

                        <div id="commentaires-{{ post.post.id }}" style="display: none">
                            <hr>
                            <div class="mb-3">
                                <div class="input-group">
                                    <input name="commentaire" type="text" class="form-control" id="add-input-commentaire-{{ post.post.id }}" placeholder="Écrivez ici...">
                                    <input type="hidden" name="post_id" value="{{ post.post.id }}">
                                    <button data-id="{{ post.post.id }}" class="btn btn-primary add-commentaire">Commenter</button>
                                </div>
                            </div>

                            <div id="liste-commentaires-{{ post.post.id }}"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(() => {
    $('.add-commentaire').click(function(e) {
        let id = $(this).data('id'); // Récupère l'id du post à commenter
        let commentaire = $(`#add-input-commentaire-${id}`).val(); // Récupère le commentaire à ajouter
    
        // Envoie une requête AJAX pour ajouter un commentaire
        $.ajax({
            url: '/commentaire/new',
            type: 'POST',
            data: {
                id: id,
                commentaire: commentaire
            },
            success: function(response) {
                console.log(response);
    
                // Réinitialise le champ de commentaire
                $(`#add-input-commentaire-${id}`).val('');

                // Met à jour la liste des commentaires
                let commentaires = JSON.parse(response.commentaires);

                console.log(response);

                // On vide la div
                $(`#liste-commentaires-${id}`).empty();

                // On ajoute les commentaires
                commentaires.forEach(commentaire => {
                    $(`#liste-commentaires-${id}`).append(`
                        <div class="d-flex justify-content-between align-items-center w-100 border-bottom gap-2">
                            <div class="d-flex align-items-start justify-content-center flex-column ">
                                <p class="fw-bold">@${commentaire.username}</p>
                                <p>${commentaire.commentaire}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <p class="h-100">${commentaire.date}</p>
                                <a href="" class="delete-commentaire" data-id="${commentaire.id}"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    `);
                });

            },
            error: function(xhr, status, error) {
                console.error(error); // Gère les erreurs éventuelles
            }
        });
    });
});
</script>
{% endblock %}