{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    <div>
        <span>Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></span>
    </div>
{{ form_end(form) }}
