{{ form_start(form) }}

    {{ form_row(form.data) }}

    <div class="d-flex justify-content-between align-items-center gap-3 w-100">
        <div class="w-75">
            {{ form_row(form.etablissement_id) }}
        </div>
        <a href="{{ path('app_etablissement_new') }}" class="btn btn-dark w-25">Nouveau</a>
    </div>

    {{ form_row(form.username) }}
    {{ form_row(form.nom_affichage) }}
    {{ form_row(form.email) }}
    {{ form_row(form.biographie) }}

    {# On crée une div contenant 2 inputs permettant de changer le mot de passe #}
    {# <details class="mb-3 card p-3">
        <summary>Changer le mot de passe</summary>

        <form action="{{ path('app_compte_update_password') }}" method="post">

            <div class="mb-3">
                <label class="form-label" for="password">Ancien mot de passe</label>
                <input class="form-control" type="password" id="old-password" name="oldPassword" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Nouveau mot de passe</label>
                <input class="form-control" type="password" id="new-password" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Confirmer le mot de passe</label>
                <input class="form-control" type="password" id="confirm-password" name="confirmPassword" required>
            </div>

            <button class="btn btn-primary" type="submit">Changer le mot de passe</button>

        </form>

    </details> #}

    <button class="btn btn-dark w-full">{{ button_label|default("S'inscrire") }}</button>
    
    <div>
        {% if app.request.attributes.get('_route') == 'app_compte_new' %}
            <span class="mt-2">Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></span>
        {% endif %}
    </div>

{{ form_end(form) }}
