{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="w-full d-flex items-center justify-center">
            <div class="flex items-center justify-center w-25">
                <div class="h-24 w-24 bg-secondary"></div>
            </div>

            <div class="flex items-center justify-center w-75">
                <h2>{{ compte.nomAffichage }}</h2>
                
                <div class="d-flex justify-between items-center w-full">
                    <h5 class="font-weight-light">@{{ compte.username }}</h5>
                    <div class="flex items-center justify-center">
                        <a href="{{ path('app_compte_edit', {'id': compte.id}) }}" class="btn btn-sm me-3"><i class="fa-solid fa-gear"></i></a>
                    </div>
                </div>

                {# Mettre la biographie #}
                <p>{{ compte.biographie }}</p>

                <div class="flex items-center justify-center">
                    <a href="{{ path('app_home') }}" class="btn btn-sm btn-secondary">Accueil</a>
                </div>
            </div>
        </div>

        <hr>

        <h3 class="text-center">Publications</h3>

        <h6 class="text-center text-secondary font-weight-light">Aucune publication pour le moment.</h6>
        
    </div>

{% endblock %}
